:root {
  --main-color: #ffffff; 
  --secondary-color: #007bff; 
  --accent-color: #f8f9fa; 
  --text-color: #333333; 
  --heading-color: #212529;
  --main-font: muli, sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --1-font: 0.5rem;
  --2-font: 0.75rem;
  --3-font: 1rem;
  --4-font: 1.5rem;
  --5-font: 2rem;
  --headerHeight: 2.5rem;
  --headerPadding: 1rem;
}


.companyName{
  color: var(--secondary-color);
  font-weight: bold;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
body {
  font-family: var(--secondary-font);
  background-color: var(--accent-color);
  margin: 0;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  height: var(--headerHeight); 
  padding: var(--headerPadding);
  width: calc(100% - calc(var(--headerPadding) * 2));
  background-color: var(--main-color);
  font-family: var(--main-font);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.main-header .companyName {
  font-weight: bold;
  color: #007bff;
  font-size: 2rem;
}
.main-logo {
  background-size: contain;
  left: 0;
  top: 0;
  width: 140px; 
  height: 70px;
  background-image: url("assets/Img/logo_bwj.png");
  background-repeat: no-repeat;
  margin-right: 15px;
  z-index: 101;
}
.company-name {
  text-align: center;
  flex-grow: 1;
  color: #007bff;
  z-index: 101;
}
#front-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("assets/Img/pexels-pixabay-280222.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
#text-block{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.blocks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ffffff;
  flex-direction: column;
}
#block1{
  background: #f1f1f1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#block1 h2{
  color: #007bff;
  font-size: 45px;
}
#mainText{
  font-weight: bold;
}
#secondaryText{
  color: #584d4d;
}
.infoCubes{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
  width: 90%;
  background: #f1f1f1;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 60px;
}
.infoCubes p{
  font-size: 1.2em;
}
#block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: white;
  background-image: url("assets/Img/empty-red-brick-wall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#block2TextBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: rgba(31, 30, 30, 0.5);
  /* padding: 20px; */
  border-radius: 6px;
}
#block2Text{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
}
@media screen and (max-width: 768px) {
  .main-logo {
    margin: 0 auto;
  }
  .main-header{
    justify-content: center;
  }
  .company-name {
    display: none;
  }
  #block1 {
    margin: 0px;
    min-width: 300px;
  }
  #block1 h2 {
    padding-top: 10px;
    font-size: 30px;
  }
  .infoCubes p {
    font-size: 1em;
    margin: 0px;
  }
  .infoCubes h3 {
    font-size: 1.2em;
    padding: 0px;
    margin: 10px;
  }
  #block1 h2 {
    margin: 0px;
  }
}
@media screen and (min-width: 789px) {
  .main-header{
    justify-content: space-between;
  }
  .main-logo{
    margin-right: 15px;
    position: absolute;
  }
  .company-name{
    text-align: center;
    flex-grow: 1;
  }
}
